* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-900: #121214;

  --cyan-500: #61dafb;

  --yellow-500: #eba417;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body {
  background: var(--gray-900);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.bodyLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
